{% extends 'layout.html' %}

{% block content %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form id="findSentiment" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type='text' class="form-control" placeholder="analyze tweets" id="search"/>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span id="searchTerm"></span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="https://github.com/nickstefan">Github</a></li>
              <li><a href="http://www.nickstefan.net">Blog</a></li>
              <li><a href="http://www.linkedin.com/in/nickstefan">Linkedin</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="map-container"></div>

  <div id="Searching_Modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="searching-modal modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-info-top">this may take up to 30 seconds</h4>
                  <h5 class="modal-info-bottom">(twitter caps each API request to 100 results, requiring 15 separate requests to reach the 1500 maximum tweet history)</h5>
                  <div class="modal-body" >
                      <div class="spinner">
                        <div class="spinner-container container1">
                          <div class="circle1"></div>
                          <div class="circle2"></div>
                          <div class="circle3"></div>
                          <div class="circle4"></div>
                        </div>
                        <div class="spinner-container container2">
                          <div class="circle1"></div>
                          <div class="circle2"></div>
                          <div class="circle3"></div>
                          <div class="circle4"></div>
                        </div>
                        <div class="spinner-container container3">
                          <div class="circle1"></div>
                          <div class="circle2"></div>
                          <div class="circle3"></div>
                          <div class="circle4"></div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div id="Error_Modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="true" data-backdrop="static">
          <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-body" >
                  <h4>An error has occured. Please try again.</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-block" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

                

  
{% endblock %}
