<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js'></script>
    <link href='/stylesheets/mapbox.css' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/d3.min.js'></script>
    <script src='/javascripts/moment.min.js'></script>
    <script src='/javascripts/client.js'></script>
  </body>
</html>